

 .table-pricing{
     width: 1192px;
     height: 736px;
     border-collapse: collapse;
     border-top: 27px solid  #374765;
     border-right: 30px solid  #374765;
     border-bottom: 22px solid  #374765;
     border-left: 27px solid  #374765;

}
 td, th {
     width: 310px;
     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
 .pricing-plan{
    border: 1px solid #eeeeee;
     font-family: "Arimo",sans-serif;
     color: #484848;
     font-size: 30px;
     font-weight: 700;
     line-height: 28px;
     text-align: center;
}
 .choose-your{
    font-family: "Arimo",sans-serif;
     color: #484848;
     font-size: 18px;
     font-weight: 700;
     line-height: 28px;
     text-align: center;
}
 tr,td{
     text-align: center;
     text-transform: uppercase;
     
}
 .standard{
    background-color: #89c331;
     font-family: "Arimo",sans-serif;
     color: #ffffff;
     font-size: 24px;
     font-weight: 700;
     line-height: 28px;
     text-align: center;
}
 .ultimate{
    background-color: #f04a56;
     font-family: "Arimo",sans-serif;
     color: #ffffff;
     font-size: 24px;
     font-weight: 700;
     line-height: 28px;
     text-align: center;
}
 .premium{
    background-color: #20807c;
     font-family: "Arimo",sans-serif;
     color: #ffffff;
     font-size: 24px;
     font-weight: 700;
     line-height: 28px;
     text-align: center;
}
 .fas, .far {
    margin-right: 13px;
    color:  #848484;

}
 .contact-us{
    font-family: "Arimo",sans-serif;
     color: #ffffff;
     font-size: 16px;
     font-weight: 700;
     line-height: 28px;
     text-align: center;
     border-radius: 5px;
     background-color: #484848;
     padding: 20px 45px;
     width: 192px;
     height: 49px;
     color:white;
     text-decoration: none;
}
 .buy-now-standart{
    font-family: "Arimo",sans-serif;
    border-radius: 5px;
     background-color: #89c331;
     padding: 19px 58px;
     width: 192px;
     height: 49px;
     color: white;
     text-decoration: none;
    
}
 .buy-now-ultimate{
    font-family: "Arimo",sans-serif;
    border-radius: 5px;
     background-color: #f04a56;
     padding: 19px 58px;
     width: 192px;
     height: 49px;
     color: white;
     text-decoration: none;
}
 .buy-now-premium{
    font-family: "Arimo",sans-serif;
    border-radius: 5px;
     background-color: #20807c;
     padding: 19px 58px;
     color:white;
     text-decoration: none;
}

 .text-big{
    font-family: "Arimo",sans-serif;
     color: #484848;
     font-size: 60px;
     font-weight: 700;
}
 .text-small{
     font-family: "Arimo",sans-serif;
     color: #484848;
     position: absolute;
     bottom: 25px;
     font-size: 24px;
     font-weight: 700;
}
 .white{
    background-color: #fafafa;
}
 .grey{
    background-color: #e3e3e3;
}
 .mid-grey{
    background-color: #f2f2f2;
}
.cell-different-style{
    background-color:  #e3e3e3;}
 .text{
    position: relative;
     font-family: "Arimo",sans-serif;
     color: #484848;
     font-size: 18px;
     font-weight: 400;
     line-height: 28px;
}

.black{
    transition:1000ms;}
.black:hover {
    background-color: black;
}
.green{
    transition: 1000ms;
}
.green:hover{
    background-color: green;
}
.red{
    transition:1000ms;}
.red:hover {
    background-color: rgb(207, 36, 36)
}
.blue{
    transition:1000ms;
}
.blue:hover {
    background-color: rgb(49, 21, 177);
}

